DATABASE_URL="postgresql://postgres:postgres@localhost:5432/video_analise_jogadores?schema=public"
R2_BUCKET_NAME="video-analise-jogadores-prod"
R2_ENDPOINT="https://ACCOUNT_ID.eu.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
